<div class="wrapper">
    <div class="logo">
        <img src="https://www.freeiconspng.com/thumbs/facebook-logo-png/facebook-splat-f-logo-transparent-28.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Facebook
    </div>
    <div class="p-3 mt-3">
        <!-- <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Username">
        </div> -->
        <!-- <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div> -->
        <!-- <button class="btn mt-3">Login</button> -->
        <button class="btn mt-3" (click)="login()">continew with facebook</button>
    </div>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="#">Sign up</a>
    </div>
</div>