<div class="container mt-2 ">
    <div class="row ">
        <div class="col-md-12">
            <div class="position-relative">
                <div>
                    <img class="cover-img" src="https://images.unsplash.com/photo-1483884105135-c06ea81a7a80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y292ZXIlMjBnaXJsfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
                </div>
                <div class="pimg">
                    <div class="d-flex justify-content-center">
                    <img class="profileimg" src={{user.picture}} alt="">

                    </div>
                    <h2 >{{user.firstname + " "+ user.lastname}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>