.bgcolor{
    background-color: rgb(240,242,245);
    height: 100vh;
}

.profileimg{
    width: 70px;
height: 70px;
clip-path: circle(50%);
}
.middle-col{
  height: 90vh;
  overflow-y: auto;
}
.icon{
    width: 30px;
height: 30px;
clip-path: circle(50%);
}
.indian-flag{
  object-fit: cover;
  width: 100%;
  height: 55vh;
}
.fixed-card{
  height: 350px;
  width: 100%;
}
.camera {
    outline: none;
    color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    width: 50px;
    transition: 0.5s;
  }
  .camera::-webkit-file-upload-button {
    visibility: hidden;
  }
  .camera::before {
    content: '\f1c5';
    font-family: fontAwesome;
    font-size: 30px;
    color: green;
    display: inline-block;
    user-select: none;
    margin-left: 15px;
  }
  .scroll{
   height: 50%;
   overflow-y: auto;
  }

  div::-webkit-scrollbar {
    width: 5px;
    border-radius: 50px;
  }
  div::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, #434343 0%, black 100%)
  }
  
  /* Handle on hover */
